p{
    color: red;
}

a{
    color: rgb(81, 36, 165);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.body-background{
    background-color: rgb(37, 37, 37);
}
.nav-bar{
   display: flex;
   padding-left: 0.5em;
   padding-right: 0.5em;

   background-color: rgb(248, 185, 229);
   block-size: 5em;
   align-items: center;
   border-radius: 2em;
}
.nav-bar>div:hover
{
    background-color: rgb(188, 122, 231);
}
.nav-bar>div
{
    block-size: 4.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5em;

}
.nav-bar>div>a{
    display: flex;
    block-size: 2em;
    padding-top: 1em;
    text-decoration: none;
}
.nav-bar>div>a:hover{
    text-decoration:underline;
}
.mid-align{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}
.section-heading{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(255, 242, 242);
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 0.1em solid rgb(170, 40, 148);
}
.section-heading::before{
    content: "";
    width: 25%;
    height: 1px;
    bottom: 0;
    left: 25%;

}
.content
{
    
    margin-top: 2em;
    margin-bottom: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: chocolate;
    border-radius: 2em;
    color: white;
    font-family: monospace;
    box-shadow: 20px 20px  #ff58dbcc;
}
.content>a{
    text-decoration: none;
}
.right-justify{
    margin-left: auto;
}
#fixed-button
{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.upbutton {
    background-color : #ff01c8;
    padding: 10px 10px;
    border-radius: 15px;
    border-width: 0.52em;

  }
  .bottom
  {
      display: flex;
      background-color: #ff58dbcc;
      border-radius: 2em;
      margin-bottom: 2em;
      block-size: 10em ;
  }
  .bottom>div
  {
     margin: auto;
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 4em;
      padding-bottom: 4em;
  }
.content>div
{
    display: flex;
}