p{
    color: red;
}

a{
    color: rgb(81, 36, 165);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.body-background{
    background-color: rgb(24, 22, 22);
}
.nav-bar{
   display: flex;
   padding-left: 0.5em;
   background-color: rgb(248, 185, 229);
   block-size: 5em;
   align-items: center;
   border-radius: 5em;
}
.nav-bar>div:hover
{
    background-color: rgb(188, 122, 231);
}
.nav-bar>div
{
    block-size: 4.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5em;

}
.nav-bar>div>a{
    display: flex;
    block-size: 2em;
    padding-top: 1em;
    text-decoration: none;
}
.nav-bar>div>a:hover{
    text-decoration:underline;
}
.mid-align{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}
.content
{
    margin-top: 5em;
    background-color: chocolate;
    border-radius: 2em;
    color: white;
    font-family: monospace;
}